{{- $cur := .RelPermalink -}}
<header class="site-header">
  <a class="site-name" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
  <nav>
    <ul>
      {{- range .Site.Menus.main }}
      <li{{ if .HasChildren }} class="has-sub"{{ end }}>
        <a href="{{ .URL }}"{{ if eq $cur .URL }} class="active"{{ end }}>{{ .Name }}</a>
        {{- if .HasChildren }}
        <ul class="submenu">
          {{- range .Children }}
          <li><a href="{{ .URL }}"{{ if eq $cur .URL }} class="active"{{ end }}>{{ .Name }}</a></li>
          {{- end }}
        </ul>
        {{- end }}
      </li>
      {{- end }}
    </ul>
  </nav>
</header>
